td.fc-day-sat {
    background-color: #eaf4ff;
}
td.fc-day-sun {
    background-color: #ffeaea;
}

.fc-daygrid-day-number {
    color: black !important;
}

.fc-col-header-cell-cushion {
    color: black !important;
}

.gray {
    background-color: #c0c0c0 !important;
}